@model IEnumerable<SmartInventory.Contract.Request.CustomerResponse>

@{
    ViewData["HeaderTitle"] = "Customer";
    ViewData["BreadCrumbFirst"] = "Home";
    ViewData["BreadCrumbActive"] = "Customer List";
}

<h2>Customer List</h2>

<a asp-action="Create" class="btn btn-primary mb-3">➕ Add Customer</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Address</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>

                    <form asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button class="btn btn-danger btn-sm"
                                onclick="return confirm('Delete this customer?')">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>