@model IEnumerable<SmartInventory.Model.Product>

@{
    ViewData["HeaderTitle"] = "Products";
    ViewData["BreadCrumbFirst"] = "Home";
	ViewData["BreadCrumbActive"] = "Products List";
}




<div class="row">
    <div class="col">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <a asp-action="Create" class="btn btn-success btn-sm">Create New</a>
                </h3>
            </div>
            <div class="card-body">

                <style>
                    #ProductDataTable th,
                    #ProductDataTable td{
                        vertical-align:middle !important;
                        text-align: center;
                    }
                </style>
            <table id="ProductDataTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StockQuantit)
</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StockQuantit)
                                </td>

                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.id },new{@class="btn btn-sm btn-primary mr-1"}) 
                                    @Html.ActionLink("Details", "Details", new { id = item.id }, new{ @class = "btn btn-sm btn-info mr-1"}) 
                                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new{ @class = "btn btn-sm btn-danger"})
                                </td>
                            </tr>
                        }
                    </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/plugins/jquery/jquery.min.js"></script>

<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<script>
        $("#ProductDataTable").DataTable({
          "responsive": true,
          "autoWidth": false,
        });
</script>

}

