@model SmartInventory.Model.Category
@{
    ViewData["HeaderTitle"] = "Category Details";
    ViewData["BreadcrumbFirst"] = "Home";
    ViewData["BreadcrumbActive"] = "Category Details";
}

<div class="row">
    <div class="col">
        <div class="card card-info">
            <div class="card-header">
				<h3 class=" card-title">Create Details</h3>

                </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CategoryName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdatedTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdatedTime)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
				<a asp-action="Index" class="btn btn-default float-right">Back to List</a>
            </div>
		</div>
	</div>
</div>

